$margin: 20px;
$padding: 10px;
$pink: hsl(322, 100%, 66%);
$gray: hsl(0, 0%, 50%);
$cyan: hsl(192, 100%, 9%);
$white: #ffffff;
$pale-blue: hsl(207, 100%, 98%);
$violet: hsl(300, 100%, 27%);
$default-font-size: 12px;
$header-height: 6em;
$small-btn-width: 10em;
$large-btn-width: 40em;
$headline-font: 3em;
$large-icon: 2.5em;
$body-font: 1.5em;
$box-shadow:  2px 2px 10px #555555;
$spacer: 1rem !default;

// Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:400,600,700&display=swap');


html{
	font-size: 12px;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: $body-font;
	color: $cyan;
}

footer{
	color: $white;
}

h1{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: $headline-font;
	line-height: $body-font;
}

h2{
	font-weight: 700;
	font-size: $headline-font * 2;
	color: $cyan;
	
}

h3{
	font-weight: 700;
}

h4{
	font-weight: 700;
	font-size: $headline-font * .8;
}

h5{
	font-weight: 700;
	font-size: $headline-font* .5;
}

.row{
	display: flex;
	text-align: center;
}

.logo{
	filter: brightness(100);
}

.fit-image{
	width: 100%;
	height: auto;
}

.btn{
	border-radius: $margin * 2;
	border: 1px solid $pink;
	color: $white;
	background: $pink;
	box-shadow: $box-shadow;
	padding: $padding*1.5 $padding*6 $padding*1.5 $padding*6;
	font-weight: 600;
}

.btn a{
	border: 1px solid $pink;
	color: $pink;
	background: $white;
}


.btn-free{
	background: $white;
	color: $pink;
	box-shadow: none;
	font-weight: 400;
	padding: $padding $padding*2 $padding $padding*2;
}

.btn-free-col{
	text-align: right;
}


.pale-blue-background{
	background: $pale-blue;
}

.cyan-background{
	background: $cyan;
}

.subscribe{
	border-radius: $padding;
}


.social-media a{
	font-size: $headline-font;
	color: $white;
	padding-right: $padding * 4;
}

// Modifications to bootstrap padding and margin classes
.px-4{
	padding-left: ($spacer * 5) !important;
	padding-right: ($spacer * 5) !important;
}

.mt-4{
	margin-top: ($spacer * 5) !important;
}

.mt-5{
	margin-top: ($spacer * 15) !important;
}

.py-5{
	padding-top: ($spacer * 10) !important;
	padding-bottom: ($spacer * 10) !important;
}